@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");


.name-content {
    font-size: clamp(1.1rem, 2.5vw, 1.7rem);
    line-height: clamp(15px, 2.5vw, 30px);
    text-transform: uppercase; 
}

.position-title {
  margin: 5px 0 10px 0;
  color: rgb(14, 135, 216);
  font-weight: 500;
  line-height: clamp(15px, 2.5vw, 25px);
  font-size: clamp(0.9rem, 2.5vw, 1.2rem);
  text-transform: uppercase;
}

.hr-line {
  margin: 5px;
}

.fe-content, .web-design-content {
  font-size: clamp(0.5rem, 2.5vw, 0.8rem);
  margin: 5px 0 5px 0;
}




