@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Poppins", sans-serif;
  color: blak;
}

.content-container {
  display: flex;
  align-items: center;
  align-content: center;
}

.link-content {
  margin-top: 10px !important;
  line-height: clamp(4px, 2.5vw, 10px) !important;
  font-size: clamp(0.3rem, 2.5vw, 0.6rem);
  line-height: clamp(15px, 2.5vw, 15px)  !important;
  margin-bottom: 0.4rem;
  margin-left: 5px;
}


.address-content {
  font-size: clamp(0.2rem, 2.5vw, 0.8rem);
  line-height: clamp(15px, 2.5vw, 10px);
  margin-bottom: 0.4rem;
  margin-left: 5px;
}



.education-heading {
  margin-top: 1rem;
}

.education-content {
  margin-left: 20px;
  font-size: clamp(0.1rem, 2.5vw, 0.8rem);
}



